{% extends 'ehealth/base_visitor.html' %}
<!-- {% block title %}Log In{% endblock %} -->
<!-- {% block login_active %}active{% endblock %} -->

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel-body">
            <h3 style="padding-left: 140px; font-family: 'Satisfy', cursive;">Welcome to E-health4u</h3></div></div>
        <div class="col-sm-12 col-md-6">
                <div class="panel-body">
                  <h3>What is Ehealth4u?</h3>
                      <p>Ehealth4u is a django app that allows you to register create patient with their medical records attached .</p>
                      <h3>How do I start?</h3>
                      <p>First, create a new patient by filling out the form on this page. Once an patient is created you will be able to add medical records.</p>
                      <h3>What are some Patient Image best practices?</h3>
                      <ul>
                          <li>Have a resolution of 512x512</li>
                          <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                          <li>Remain under the 2MB limit.</li>
                          <li>Square images look best</li>
                      </ul>
                </div>
            </div>
        	   
        </div>
    </div>

{% endblock %}
